.formulário{
    display: block;
    justify-content: space-around;
    padding: 0 0 0 19em;
}

.formulário__lista{
    padding: 1em;
}

.formulário__base{
    border: 3px solid var(--cinza50);
    border-radius: 1em;
    padding: 24px;
    margin: 0 20em 1em 0;
}

.formulário__descrição{
    font-size: 18px;
    font-weight: 500;
    color: var(--cinza900);
    padding: 0 0 2em 0;
}

.formulário__texto{
    font-weight: 500;
    color: var(--cinza500);
}


.formulário__titulo{
    font-size: 20px;
    font-weight: 500;
    color: var(--cinza900);
    padding: 1em 0 2em 0;
    margin-left: 0.8em;
}